.footer_outer_container {
  background-color: #111;
  color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_inner_container {
  width: 70%;

  /* background-color: red; */
}
.footer_icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;

  color: #fff;
}
.footer_data {
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: space-between;
}
.footer_data ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
  /* background-color: blue; */
}
.footer_data ul li {
  cursor: pointer;
}
.service_code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  width: 20%;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.service_code .translate_icon {
  font-size: medium;
}

.copy-write {
  font-size: 14px;
  margin-bottom: 10px;
}
